body {
    font-family: 'Gabarito', sans-serif;
}

.top-nav.transparent {
    background-color: transparent;
    box-shadow: none;
}

mark {
    background-color: transparent;
    position: relative;
    z-index: 1;
    color: inherit;
}

mark::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: -1;
    background-color: hsl(var(--primary));
    opacity: 0.5;
}